/*
* Molecule Home Date component
*/

.m-date {
  margin: 0 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $sb-color-primary-light;

  .today {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 0;

    span {
      color: $sb-color-primary;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .tomorrow {
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0 8px 8px;

    display: flex;
    align-items: center;
    border-left: 1px solid $sb-color-primary-light;
    svg {
      fill: $sb-color-secondary;
    }
  }
}
