/*
* Molecule grocery item
*/

.m-groceryItem {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #ffff;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px rgba($sb-color-grey-normal, 1);

  .field {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    overflow: hidden;
    width: 100%;
    max-width: calc(100% - 140px);
    position: relative;

    .info {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .input {
      width: 28px;
      min-width: 28px;
      height: 28px;
      border-radius: 50px;
      border: 1px solid rgba($sb-color-dark, 0.5);
      margin-right: 16px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;

      svg {
        fill: $sb-color-light;
        transform: scale(0.1);
        transition: all 0.2s ease;
      }
    }

    .label {
      line-height: 1.3;
      flex: 1;
      text-align: left;
      overflow: hidden;
      padding-right: 8px;
      position: relative;
      font-weight: 400;
      font-size: 18px;
      color: $sb-color-primary;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;
        height: 100%;
        width: 24px;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 30%,
          rgba(250, 250, 250, 0) 100%
        );
      }
      &::first-letter {
        text-transform: uppercase;
      }
    }

    .quantity {
      font-weight: 400;
      font-size: 12px;
      width: fit-content;
    }
  }

  .action {
    display: flex;
  }

  .delete,
  .edit,
  .lock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .delete {
    border-radius: 0 8px 8px 0;
    background-color: $sb-color-red;

    svg {
      fill: $sb-color-light;
    }
  }

  .edit {
    background-color: $sb-color-primary;

    svg {
      fill: $sb-color-light;
    }
  }

  .lock {
    background-color: $sb-color-primary-alt;
    border-radius: 8px 0 0 8px;

    svg {
      fill: $sb-color-primary;
    }
  }

  & + .m-groceryItem {
    margin-top: 8px;
  }

  &.--checked {
    .field {
      .input {
        background-color: $sb-color-primary;

        svg {
          transform: scale(1);
        }
      }
      .label {
        text-decoration: line-through;
      }
    }
  }

  &.--locked {
    .field::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: none;
    }
    .lock {
      background-color: $sb-color-primary;
      svg {
        fill: $sb-color-light;
      }
    }
  }
}
