/*
* Molecule Page intro
*/

.m-intro {
  position: sticky;
  top: calc(56px - env(safe-area-inset-top));
  left: 0;
  background-color: $sb-color-light;
  padding: 40px 24px 24px;
  display: flex;
  align-items: center;
  box-shadow: 0px -2px 31px rgba(107, 108, 175, 0.1);
  z-index: 2;

  .title {
    text-align: left;
    margin: 0 8px 0 0;
    span {
      color: $sb-color-primary;
    }
  }
}
