.m-itemForm {
  z-index: 200;
  display: flex;
  visibility: hidden;
  position: fixed;
  bottom: -70%;
  width: 96%;
  left: 2%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.4s $sb-anim-transition-timing;
  // animation: formApear 0.4s $sb-anim-transition-timing forwards;

  &::before {
    z-index: -1;
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($sb-color-dark, 0.1);
  }

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
  }

  .fields {
    padding-bottom: 32px;
    background-color: $sb-color-primary;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid $sb-color-light;
  }

  &.confirm .fields {
    border: none;
    padding-bottom: 0;
  }

  .label {
    flex: 1;
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid $sb-color-light;
    font-size: 14px;
    color: $sb-color-light;
    border-radius: 8px 216px 0 0;
  }

  input {
    flex: 1;
    width: 80%;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid $sb-color-primary;
    margin-top: 32px;

    & + input {
      margin-top: 16px;
    }
  }

  .action {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $sb-color-primary;
  }

  .btn,
  .btnCancel {
    width: 100%;
    padding: 16px;
    background-color: $sb-color-primary;
    border-radius: 0 0 8px 8px;
    font-weight: 500;

    &:hover {
      background-color: $sb-color-primary-alt;
    }

    .text {
      color: $sb-color-light;
      border-radius: 8px;
      font-size: 19px;
      width: 100%;
      text-align: center;
    }
  }

  .btnCancel {
    background-color: $sb-color-light;
    border-radius: 8px;
    margin-top: 8px;

    .text {
      color: $sb-color-red;
    }
  }

  &.--show {
    visibility: visible;
    bottom: 16px;
  }
}

@keyframes formApear {
  from {
    bottom: -80%;
  }
  to {
    bottom: 16px;
  }
}
