/*
* Molecule loading screen
*/

.m-loading {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  z-index: 1000;
  background-color: $sb-color-primary;
  display: flex;
  justify-content: center;
  transform: scale(1);
  align-items: center;
  animation: loadingFrame 1.5s $sb-anim-transition-timing forwards;

  svg {
    width: 50%;
    height: 80%;
    animation: loading 1.5s $sb-anim-transition-timing forwards;
  }
}

@keyframes loadingFrame {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  85% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(30);
  }
}
