/*
*   manage list
*/

.m-manageList {
  padding: 8px 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba($sb-color-dark-light, 0.2);
  background-color: $sb-color-light;
  display: flex;
  justify-content: space-between;

  .deleteAll {
    background-color: $sb-color-tertiary;
    border-radius: 8px;
    color: $sb-color-dark;
    padding: 12px 14px;
    display: flex;
    align-items: center;

    .text {
      margin-right: 8px;
    }

    svg {
      width: 18px;
      height: 18px;
      fill: $sb-color-dark;
    }
  }

  .openAll {
    display: flex;
    align-items: center;

    .toggleOpenAll {
      width: 60px;
      height: 26px;
      border-radius: 50px;
      border: 1px solid $sb-color-primary;
      margin-left: 12px;

      &.ant-switch {
        background-color: $sb-color-light;
      }

      .ant-switch-handle {
        top: 3px;
        left: 3px;
      }

      &.ant-switch-checked .ant-switch-handle {
        left: calc(100% - 18px - 3px);
      }

      .ant-switch-handle::before {
        border-radius: 50px;
        background-color: $sb-color-primary;
        box-shadow: 0 0 10px 2px rgba($sb-color-dark, 0.1);
        transition: all 0.4s ease;
      }

      &.ant-switch-checked {
        background-color: $sb-color-primary;

        .ant-switch-handle::before {
          background-color: $sb-color-light;
        }
      }
    }
  }

  .addField {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
  }
}
