/*
* Molecule primary nav
*/

.m-primaryNav {
  position: fixed;
  bottom: 0;
  padding: 6px 42px env(safe-area-inset-bottom);
  width: 100%;
  background-color: $sb-color-light;
  // border-top: 1px solid rgba($sb-color-dark-light, 0.2);
  box-shadow: 0px 2px 31px rgba(107, 108, 175, 0.1);

  z-index: 100;

  .navList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      font-weight: 300;
      color: $sb-color-dark;
    }
  }

  .navItem {
    min-width: 50px;
  }

  .dashboard {
    fill: $sb-color-primary;
  }

  .courses {
    fill: $sb-color-primary;
  }

  .profil {
    fill: $sb-color-primary;
  }
}
