/*
* Molecule Home Date component
*/

.m-taskModale {
  visibility: hidden;
  position: fixed;
  top: 100%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  padding: 0 24px;
  border-radius: 10px 10px 0 0;
  background-color: $sb-color-light;
  box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s $sb-anim-transition-timing;
  // animation: formApear 0.4s $sb-anim-transition-timing forwards;
  z-index: 999;

  .action {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 8px 0;

    .title {
      color: $sb-color-dark;
      font-size: 18px;
      font-weight: 400;
    }
    .cancel,
    .submit {
      color: $sb-color-secondary;
      font-size: 14px;
      font-weight: 500;
    }
  }

  h2.title {
    text-align: left;
    margin: 32px 0 40px;
    span {
      color: $sb-color-primary;
    }
  }

  &.--show {
    top: 24px;
    visibility: visible;
  }
}

// @keyframes formApear {
//   from {
//     top: 100%;
//   }
//   to {
//     top: 24px;
//   }
// }
