/*
* Molecule Task component
*/

.m-task {
  background-color: $sb-color-light;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s $sb-anim-transition-timing;

  .header {
    display: flex;
    justify-content: space-between;

    .type {
      background-color: $sb-color-primary-alt;
      padding: 4px;
      border-radius: 4px 0 4px 0;
      display: flex;
      align-items: center;
      transition: all 0.4s $sb-anim-transition-timing;

      .timer {
        font-weight: 700;
        font-size: 10px;
        color: $sb-color-primary;
        padding: 0 4px;
        transition: all 0.4s $sb-anim-transition-timing;
      }
    }

    .edit {
      stroke: $sb-color-primary;
      fill: $sb-color-primary;
      margin: 4px;
      transition: all 0.4s $sb-anim-transition-timing;
    }
  }

  .title {
    padding: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
    flex: 1;
    display: flex;
    align-items: center;
    transition: all 0.4s $sb-anim-transition-timing;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &.medium {
    grid-column: 1 / 3;
    background-color: $sb-color-primary-alt;

    .type {
      background-color: $sb-color-primary;
      .timer {
        color: $sb-color-light;
      }

      svg {
        fill: $sb-color-light;
      }
    }
    .edit {
      stroke: $sb-color-dark;
      fill: $sb-color-dark;
    }

    .title {
      font-size: 16px;
    }
  }

  &.high {
    grid-column: 1 / 3;
    background-color: $sb-color-secondary;
    min-height: 157px;

    .type {
      background-color: $sb-color-light;
      .timer {
        color: $sb-color-secondary;
      }

      svg {
        fill: $sb-color-secondary;
      }
    }
    .edit {
      stroke: $sb-color-light;
      fill: $sb-color-light;
    }

    .title {
      padding: 16px 32px;
      font-size: 18px;
      color: $sb-color-light;
    }
  }
}
