/* variables */

/* Layout
   ========================================================================== */

/* Breakpoints */
$sb-mobile: 320x;
$sb-tablet: 768px;
$sb-desktop: 1024px;
$sb-desktopHD: 1440px;

// Foundations variables
$global-width: $sb-desktopHD;

/* Fonts
   ========================================================================== */

/* Font Family */
$sb-font-headings: "Open Sans", sans-serif !important;
$sb-font-common: "Open Sans", sans-serif !important;

/* Vertical Rythm */
$sb-font-size-base: 16px;
$sb-line-height: 1.33;

/* Modular Scale */
// https://github.com/modularscale/modularscale-sass
// @todo
$modularscale: (
  base: 12px,
  ratio: 1.5,
  400px: (
    ratio: 1.2,
  ),
  900px: (
    base: 16px,
    ratio: 1.3,
  ),
  1200px: (
    base: 16px,
    ratio: 1.6,
  ),
);

/* Font Size */
// @todo
// %vp-font-size-level-1 {
//   @include ms-respond(font-size, 1);
// }

// %vp-font-size-level-2 {
//   @include ms-respond(font-size, 2);
// }

// %vp-font-size-level-3 {
//   @include ms-respond(font-size, 3);
// }

// %vp-font-size-level-4 {
//   @include ms-respond(font-size, 4);
// }

// %vp-font-size-level-5 {
//   @include ms-respond(font-size, 5);
// }

// %vp-font-size-level-6 {
//   @include ms-respond(font-size, 6);
// }

/* Colors
   ========================================================================== */

$sb-color-primary: #6b6caf;
$sb-color-primary-alt: #bebfd5;
$sb-color-primary-light: #dedff5;
$sb-color-secondary: #f178b6;
$sb-color-tertiary: #ffe5b1;
$sb-color-gradient: linear-gradient(to right, #0177c1, #1cb3ff);

$sb-color-red: #f1340b;
$sb-color-success: #2dcc70;
$sb-color-success-alt: #2dcc70;
$sb-color-info: #1397e1;
$sb-color-info-alt: #1397e1;
$sb-color-warning: #f7b500;
$sb-color-warning-alt: #f7b500;
$sb-color-alert: #e20d0d;
$sb-color-alert-alt: #e20d0d;

$sb-color-dark: #20232a;
$sb-color-dark-light: #2f3437;
$sb-color-grey-dark: #686c71;
$sb-color-grey-normal: #f5f6fa;
$sb-color-grey-light: #ededed;
$sb-color-light: #ffffff;

// Backgrounds
$sb-color-body-background: $sb-color-light;
$sb-color-content-background: $sb-color-primary;

// Elements
$sb-color-border: $sb-color-grey-dark;
$sb-color-border-active: $sb-color-secondary;
$sb-color-input-placeholder: $sb-color-light;

// Texts
$sb-color-text: $sb-color-dark;
$sb-color-text-alt: $sb-color-light;
$sb-color-headings: $sb-color-dark;
$sb-color-headings-alt: $sb-color-light;
$sb-color-text-on-primary: $sb-color-dark;
$sb-color-text-on-secondary: $sb-color-dark;
$sb-color-text-on-tertiary: $sb-color-dark;
$sb-color-text-disabled: $sb-color-dark;

/* UI
   ========================================================================== */
$sb-border-radius-button: 5px;
$sb-border-radius-input: 5px;

/* Animations
   ========================================================================== */
$sb-anim-transition-timing: cubic-bezier(0.76, 0.21, 0.27, 0.94);

/* CSS Variables
   ========================================================================== */
// @todo
/* Mobile */
// :root {
//   --content-padding: calc(var(--spacing) * 2);
//   --content-margin: calc(var(--spacing) * 6) ;
// }

// /* Tablet */
// @media screen and (min-width: $sb-tablet) {
//   :root {
//     --content-padding: calc(var(--spacing) * 4);
//     --content-margin: calc(var(--spacing) * 10);
//   }
// }

// /* Desktop */
// @media screen and (min-width: $sb-desktop) {
//   :root {
//     --content-padding: calc(var(--spacing) * 10);
//     --content-margin: calc(var(--spacing) * 16);
//   }
// }

// /* Desktop HD */
// @media screen and (min-width: $sb-desktopHD) {
//   :root {
//     --content-padding: calc(var(--spacing) * 24);
//     --content-margin: calc(var(--spacing) * 20);
//   }
// }
