/* functions */

/**
 * Converti px en rem
 **/
 @function px($size) {
  @return $size / 16 * 1rem;
}

/**
 * Défini l’espacement sur la grille par multiple de largeur de grille
 * Paramètres: top, left, bottom, right
 */
@function spacing($values...) {
  $result: 0;
  $multiple: 8;
  $n: 0;
  $top: 0;
  $right: 0;
  $bottom: 0;
  $left: 0;

  @each $value in $values {
    $n: $n + 1;
    @if $n == 1 {
      $top: $value * $multiple + px;
      $result: $top;
    }
    @if $n == 2 {
      $right: $value * $multiple + px;
      $result: $top $right;
    }
    @if $n == 3 {
      $bottom: $value * $multiple + px;
      $result: $top $right $bottom $right;
    }
    @if $n == 4 {
      $left: $value * $multiple + px;
      $result: $top $right $bottom $left;
    }
  }
  @return $result;
}
