/* base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: $sb-line-height;
  font-family: $sb-font-common;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0 auto;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  font-weight: 400;
  font-family: $sb-font-common;
  // font-size: $sb-font-size-base;
  background-color: $sb-color-grey-normal;
  // color: $sb-color-text;
  min-height: 100vh;
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  text-align: center;
  background-color: #f5f6fa;
}

main {
  padding-top: 56px;
  padding-bottom: 67px;
  width: 100vw;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

svg {
  fill: $sb-color-primary;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

h2 {
  font-weight: 800 !important;
  font-size: 28px;
}

p {
  margin: 0;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
