/* mixins */

/**
* Vertical Rythm
* https://gist.github.com/brendansparrow/851fc3401751291ee101166eef31df44
*/
@mixin vr($font-size, $bottom-rows: 1, $border: 0rem) {
  $border: $border;
  $multiplier: ceil($font-size / $line-height-base);

  font-size:      $font-size;
  line-height:    $line-height-base * $multiplier;
  margin-bottom:  $line-height-base * $bottom-rows - $border;
}
