/*
* Atoms Add button
*/

.a-addButton {
  position: fixed;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 50px;
  background-color: $sb-color-secondary;
  bottom: calc(66px + env(safe-area-inset-bottom));
  right: 16px;
  z-index: 100;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1));

  svg {
    width: 32px;
    height: 32px;
    fill: $sb-color-light;
  }
}
