/*
* Atoms buttons
*/

.a-btn {
  width: 100%;
  padding: 8px 32px;
  border-radius: 8px;
  background-color: $sb-color-secondary;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $sb-color-light;
  font-weight: 700;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);

  span {
    margin-right: 16px;
  }
  svg {
    width: 32px;
    height: 32px;
  }

  &.--primary {
    padding: 16px 32px;
    background-color: $sb-color-primary;
  }
}
