/*
* Atoms fields
*/

.a-field {
  margin-bottom: 40px;
  padding: 8px 0;

  input:focus-visible {
    outline: none;
  }

  input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid $sb-color-primary-alt;
    font-size: 18px;

    &::placeholder {
      color: $sb-color-primary-alt;
    }
  }

  &.timer {
    display: flex;
    justify-content: space-between;

    label {
      color: $sb-color-primary;
      font-size: 18px;
    }

    input {
      display: flex;
      border-radius: 4px;
      color: $sb-color-primary;
      padding: 4px;
      border: 1px solid $sb-color-primary;
    }
  }
}
