/*
* Organisms feed of components
*/

.o-feed {
  padding: 16px 16px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(106px, auto);
  gap: 16px;
  z-index: 1;
}
