/*
* Organism grocery list
*/

.o-groceryList {
  padding: 16px 0;
  margin: 0 16px;
  border-bottom: 1px solid $sb-color-primary-light;

  .listHead {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btnAdd {
      padding-left: 24px;
      display: flex;
      align-items: center;

      svg {
        fill: $sb-color-primary;
      }

      .text {
        margin-right: 8px;
      }
    }

    .actions {
      display: flex;
    }

    .delete {
      display: flex;
      align-items: center;
      svg {
        fill: $sb-color-red;
      }
    }
  }

  .addItem {
    z-index: 200;
    display: none !important;
    position: fixed;
    bottom: 100px;
    width: 80%;
    left: 10%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $sb-color-light;
    border-radius: 8px;
    border: 1px solid $sb-color-primary;

    &::before {
      z-index: -1;
      content: "";
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba($sb-color-dark, 0.1);
    }

    &::after {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 8px;
      background-color: rgba($sb-color-light, 1);
    }

    .addField {
      margin-bottom: 32px;
    }

    .label {
      flex: 1;
      text-align: center;
      padding: 16px;
      border-bottom: 1px solid $sb-color-primary;
      margin-bottom: 32px;
      font-weight: 700;
      font-size: 18px;
    }

    input {
      flex: 1;
      width: 80%;
      padding: 8px 16px;
      border-radius: 8px;
      border: 1px solid $sb-color-primary;
      margin-bottom: 16px;
    }

    .action {
      display: flex;
      border-top: 1px solid $sb-color-primary;
    }

    .btn,
    .btnCancel {
      width: 100%;
      padding: 16px;
      background-color: $sb-color-primary;
      border-radius: 0 0 8px 0;

      .text {
        color: $sb-color-light;
        border-radius: 8px;
        width: 100%;
        text-align: center;
      }
    }

    .btnCancel {
      background-color: $sb-color-light;
      border-radius: 0 0 0 8px;

      .text {
        color: $sb-color-primary;
      }
    }

    &.--show {
      display: flex !important;
    }
  }

  .dragHandle {
    padding: 4px 8px 4px 0;
    display: flex;
    align-items: center;
  }

  .category {
    display: flex;
    align-items: center;
    margin-right: 16px;
    flex: 1;

    svg {
      transition: all 0.4s ease;
      transform: rotate(-90deg);
    }

    .categoryName {
      margin-left: 8px;
      font-weight: 300;
      font-size: 18px;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .m-groceryItem {
    display: none;
  }

  &.--open {
    .listHead {
      margin-bottom: 8px;
    }
    .category {
      svg {
        transform: rotate(0deg);
      }
    }

    .m-groceryItem {
      display: flex;
    }
  }
}
