/*
* Organism header
*/

.o-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: $sb-color-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(12px + env(safe-area-inset-top)) 16px 12px;
  // box-shadow: 0px 2px 31px rgba(107, 108, 175, 0.1);
  border-bottom: 1px solid rgba($sb-color-primary-alt, 0.2);
  z-index: 100;

  .title {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    color: $sb-color-dark;
  }

  .icon {
    fill: $sb-color-primary;
  }
}
