/*
* Organism login page
*/

.o-login {
  height: 100vh;
  background-color: $sb-color-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: calc(20vh - env(safe-area-inset-bottom)) 16px
    calc(64px + env(safe-area-inset-bottom));
  color: $sb-color-light;

  .brand {
    width: 100%;
    height: auto;
    svg {
      width: 50%;
      height: 80%;
    }
  }

  .title {
    color: $sb-color-tertiary;
    span {
      color: $sb-color-tertiary;
    }
  }
}
