/*
* Organism profil page
*/

.o-profil {
  height: 100%;
  padding: 6;

  .content {
    height: 100%;
    padding: 64px 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      span {
        color: $sb-color-primary;
      }
    }
  }
}
